<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sky_name"
        android:label="Sky"
        android:roundIcon="@drawable/sky_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sky"
        tools:targetApi="31">
        <activity
            android:name=".EliminarImagenCarpeta"
            android:exported="false" />
        <activity
            android:name=".Imagen"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.ImagenData"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.ImagenRecyclerViewAdaptar"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.ImagenViewHolder"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.Inicio"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.EliminarCarpeta.ECViewHolder"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.EliminarCarpeta.EliminarCarpetas"
            android:exported="false" />
        <activity
            android:name=".ModificarFuentes"
            android:exported="false" />
        <activity
            android:name=".ModificarTemas"
            android:exported="false" />
        <activity
            android:name=".ModificarInfo"
            android:exported="false" />
        <activity
            android:name=".Drawer"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Sky.NoActionBar" />
        <activity
            android:name=".ui.perfil.Imagenes.ImagenesViewHolder"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.Carpetas.CarpetasViewHolder"
            android:exported="false" />
    </application>

</manifest>